.char-details {
    background-color: #fff;
    padding: 25px 25px 15px 25px;
    margin-bottom: 40px;
}

.char-details h4 {
    margin-bottom: 20px;
    text-align: center;
}

.select-error {
    border-radius: 0.25rem;
    color: #212529;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    width: 380px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 70px;
}

.t-right {
    text-align: right;
}