.toggle-btn {
    width: 230px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: rgb(50, 103, 172);
    color: #fff;
    border-radius: 7px;
    margin-bottom: 40px;
}

h1 {
    color: #fff;
}
.app {
    background-image: url('../../static/got.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}